// FONT SIZES
$mobile-body: 1rem; // 16px
$mobile-heading: 1.3125rem; // 21px (1.3 * body)
$mobile-subheading: 1.125rem; // 18px
$mobile-input:  1.125rem; // 18px
$mobile-help: .875rem; // 14px

$desktop-body: 1.125rem; // 18px
$desktop-heading: 2rem; // 32px (1.96 * body)
$desktop-subheading: 1.5rem; // 24px
$desktop-input: $mobile-body;

// COLORS
$primary: hsl(60, 67%, 99%); // Linen: FFF6EB
$secondary: hsl(0, 3%, 14%);
$accent: hsl(33, 100%, 50%);
$accen-lighter: hsl(33, 100%, 64%);
$accent-light: hsl(33, 100%, 80%);
// $accent-light: #ffd199;

// SEMANTIC COLORS
$error-color: #b00020;
$error-shadow: rgba($error-color, 0.4);
$success-color: #04902B;
$helper-color: rgba(0, 0, 0, .6);
$info: #0066F5;
// $selected-color: 

// BUTTONS
$input-color: #999999;
$input-shadow: rgba($input-color, 0.4);